

<div class="d-flex justify-content-center fixed-bottom">
  <button mat-fab  [routerLink]="['/do']" routerLinkActive="router-link-active" ><mat-icon>add</mat-icon></button>
  <button mat-fab  [routerLink]="['']" routerLinkActive="router-link-active" ><mat-icon>home</mat-icon></button>
  <button mat-fab  [routerLink]="['/profile']" routerLinkActive="router-link-active"><mat-icon>perm_identity</mat-icon></button>
  <button mat-fab  [routerLink]="['/history']" routerLinkActive="router-link-active"><mat-icon>book</mat-icon></button>
</div>

