
.container{
    background-color: rgba(255, 255, 255, 0.822);
    padding: 20px;
    margin-top: 20px;
    width: fit-content;
    position: relative;
    border-radius: 10px;
   
   box-shadow: 1px 2px greenyellow;
}
.title{
    font-size: 48px;
    
}
h2{
    font-weight: normal;

}
.display{
    font-size: 24px;
}
.btn{
    box-shadow: 2px 2px green;
}