<div class="container text-center">
        <h1 class="title m-2">BreadGo <i> <img src="../../assets/bakery.svg" alt="" height="100px" > </i> </h1>
        <h2 class="display mt-3">Welcome to Food Charity</h2>
        <h2 class="">
            #ZeroHunger
        </h2>
        <h2>
          Around <b>690 Million</b> people regulraly go to bed hungry.
          So we have created a platform where you can contribute to the cause of fighting hungry.
          Donating the food on the tip of fingers made it even easier.
          Just by simply login you can donate.
        </h2>
       <h3>
        <b>"</b> Everyday we see a lot of food gone waste! in Households, Restaurant, Events, Parties.
          But with our platform you don't need to go through any hectic process, by just login through mobile number you can start donating !<b> "</b>
       </h3>
        <button class=" btn btn-success vertical-center " [routerLink]="['/login']" routerLinkActive="router-link-active" >Start</button>     
</div>